* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  --background-color: #fff5e5;
  --primary-color: #807066;
  --secondary-color: #444;
  --accent-color: #f83;
  --shadow-color: #fff;
}

html {
  scroll-behavior: smooth;
}

html, body {
  font-family: "Source Sans Pro", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 18px;
  color: var(--primary-color);
  background: var(--background-color);
}

body {
  padding-top: 3rem;
}

.main-link {
  color: var(--primary-color);
  -webkit-transition: color .25s;
  transition: color .25s;
}

.main-link:hover {
  color: var(--accent-color);
}

a {
  color: var(--accent-color);
  text-decoration: none;
}

p a {
  color: var(--secondary-color);
  border-bottom: 1px solid var(--accent-color);
}

h3 {
  padding-top: 15px;
  text-transform: uppercase;
}

.work-item a {
  -webkit-transition: all .25s;
  transition: all .25s;
  border-bottom: 2px solid var(--secondary-color);
}

.work-item h3 a:hover {
  color: var(--secondary-color);
  border-bottom: 2px solid var(--accent-color);
}

.work-item:nth-child(2n) a:hover {
  color: var(--accent-color);
  border-bottom: 2px solid var(--secondary-color);
}

.work-item:nth-child(2n) a {
  color: var(--secondary-color);
  border-bottom: 2px solid var(--accent-color);
}

h1 {
  font-weight: normal;
}

abbr[title] {
  border-bottom: 1px solid var(--primary-color);
  cursor: help;
}

/* Header */

.avatar,
.id {
  display: block;
  vertical-align: middle;
}

.avatar img {
  width: 128px;
  height: 128px;
  border-radius: 50%;
  box-shadow: 0 0 0 3px var(--shadow-color), 0 3px 10px rgba(0,0,0,.1);
  vertical-align: middle;
}

.id {
  text-align: center;
  padding: 15px;
}

.name,
.handle {
  display: block;
  line-height: 1em;
}

.name {
  padding: 5px 0;
  font-weight: 600;
  text-shadow: 0 2px 0 var(--shadow-color);
  letter-spacing: -.5px;
  color: var(--primary-color);
  font-size: .6em;
}

.handle {
  font-size: .45em;
}

@media (max-width: 568px){
  .id {
    margin-top: 10px;
  }
}

@media (min-width: 380px) and (max-width: 568px){
  .full-on-mobiles {
    width: 100% !important;
  }

  header .unit.half {
    width: 50%;
  }
}

@media (min-width: 569px){
  .avatar,
  .id {
    display: inline-block;
    text-align: left;
  }
}

header h1,
header ul,
header li {
  margin: 0;
  padding: 0;
}

nav {
  margin-top: 2rem;
}

nav li {
  list-style-type: none;
  display: inline-block;
}

.contact a {
  font-size: 40px;
  vertical-align: middle;
  display: inline-block;
  text-align: center;
  padding: 8px;
  color: var(--primary-color);
  text-shadow: 0 1px 0 var(--shadow-color);
  -webkit-transition: color .25s;
  transition: color .25s;
}

.contact i {
  width: 40px;
  display: block;
}

.contact a:hover {
  color: var(--accent-color);
}

@media (min-width: 380px) and (max-width: 568px){
  .contact {
    display: inline-block;
  }
}

/* Section */


section {
  margin-top: 3rem;
  margin-bottom: 4rem;
}

section h1{
  margin-top: 0;
  font-size: 1.8em;
}

section + section > div > div {
  margin-top: 1em;
}

section + section h1 {
  margin-top: .75em;
}

section p {
  display: inline;
  font-size: 1.5em;
  font-weight: 300;
}

section p > strong {
  font-weight: normal;
}

section p + p {
  margin-left: .1em;
}

@media (min-width: 600px){
  section h1{
    font-size: 3em;
  }

  section p {
    font-size: 2.5em;
  }
}

/* Footer */

footer {
  font-size: 16px;
}

/* Article list */

.articles h2 {
  margin: 0;
  text-shadow: 0 1px 0 var(--shadow-color);
}

.article-summary {
  padding-top: .5em;
  margin-bottom: 2em;
}

.article-summary h3 {
  margin: 0;
  font-size: 2em;
  line-height: 1em;
  font-weight: 300;
}

.article-meta {
  font-size: 1.17em;
}

@media screen and (max-width: 568px) {
  nav {
    margin-top: 0;
  }
  .sections {
    margin-top: -2em;
  }
}

.text-center {
  text-align: center;
}

.up-link {
  margin: 0;
}

.up-link:hover > a{
  color: var(--secondary-color);
}

.up-link > a {
  -webkit-transition: color .5s;
  transition: color .5s;
}

#about p {
  font-size: 120%;
}