@font-face {
  font-family: 'Berlin Rounded';
  src: url('../fonts/BerlinRounded/BerlinRounded-Regular.eot');
  src: url('../fonts/BerlinRounded/BerlinRounded-Regular.eot?#iefix') format('embedded-opentype'),
      url('../fonts/BerlinRounded/BerlinRounded-Regular.woff2') format('woff2'),
      url('../fonts/BerlinRounded/BerlinRounded-Regular.woff') format('woff'),
      url('../fonts/BerlinRounded/BerlinRounded-Regular.ttf') format('truetype'),
      url('../fonts/BerlinRounded/BerlinRounded-Regular.svg#BerlinRounded-Regular') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Berlin Rounded';
  src: url('../fonts/BerlinRounded/BerlinRounded-ExtraBold.eot');
  src: url('../fonts/BerlinRounded/BerlinRounded-ExtraBold.eot?#iefix') format('embedded-opentype'),
      url('../fonts/BerlinRounded/BerlinRounded-ExtraBold.woff2') format('woff2'),
      url('../fonts/BerlinRounded/BerlinRounded-ExtraBold.woff') format('woff'),
      url('../fonts/BerlinRounded/BerlinRounded-ExtraBold.ttf') format('truetype'),
      url('../fonts/BerlinRounded/BerlinRounded-ExtraBold.svg#BerlinRounded-ExtraBold') format('svg');
  font-weight: 800;
  font-style: normal;
}

@font-face {
  font-family: 'Berlin Rounded';
  src: url('../fonts/BerlinRounded/BerlinRounded-Bold.eot');
  src: url('../fonts/BerlinRounded/BerlinRounded-Bold.eot?#iefix') format('embedded-opentype'),
      url('../fonts/BerlinRounded/BerlinRounded-Bold.woff2') format('woff2'),
      url('../fonts/BerlinRounded/BerlinRounded-Bold.woff') format('woff'),
      url('../fonts/BerlinRounded/BerlinRounded-Bold.ttf') format('truetype'),
      url('../fonts/BerlinRounded/BerlinRounded-Bold.svg#BerlinRounded-Bold') format('svg');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Berlin Rounded';
  src: url('../fonts/BerlinRounded/BerlinRounded-Light.eot');
  src: url('../fonts/BerlinRounded/BerlinRounded-Light.eot?#iefix') format('embedded-opentype'),
      url('../fonts/BerlinRounded/BerlinRounded-Light.woff2') format('woff2'),
      url('../fonts/BerlinRounded/BerlinRounded-Light.woff') format('woff'),
      url('../fonts/BerlinRounded/BerlinRounded-Light.ttf') format('truetype'),
      url('../fonts/BerlinRounded/BerlinRounded-Light.svg#BerlinRounded-Light') format('svg');
  font-weight: 300;
  font-style: normal;
}

body {
  margin: 0;
  font-family: 'Berlin Rounded', -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  box-sizing: border-box;
}

img {
  vertical-align: middle;
}

a {
  text-decoration: none;
}

.url {
  color: #3494ff;
  font-weight: 600;
}

span {
  white-space: pre-line;
}