.header {
	color: #484848;
	font-size: 22px;
	font-weight: 800;
	margin-bottom: 15px;
}

.content {
	font-weight: 500;
	color: #8a8a8a;
	font-size: 18px;
	line-height: 125%;
}

.content > strong {
	color: #484848;
}