.backgroundImage {
  width: calc(100% + 28px);
  margin: -14px;
  border-top-right-radius: 6px;
  border-top-left-radius: 6px;
  overflow: hidden;
}

.backgroundImage > img {
  width: 100%;
}

.profilePicture {
  width: 90px;
  height: 90px;
  margin: -55px auto 14px -4px;
  border: 2px solid #dcdcdc;
  border-radius: 10px;
  position: relative;
  overflow: hidden;
  background-color: #fff;
}

.profilePicture > img {
  width: 100%;
  object-fit: fill;
  transform: translateY(5px);
}

.header {
  color: #484848;
  font-size: 22px;
  font-weight: 800;
  margin-bottom: 15px;
}

.content {
  font-weight: 500;
  color: #8a8a8a;
  font-size: 18px;
  line-height: 125%;
}

.signature {
  margin-top: 10px;
  width: 125px;
}

.strike {
  text-decoration: none;
  position: relative;
  opacity: 0.5;
}

.strike::before {
  top: 55%;
  background: #454545;
  content: "";
  position: absolute;
  height: 0.15em;
  border-radius: 0.1em;
  white-space: nowrap;
  display: block;
  left: -1%;
  width: 102%;
}
